# --- IDE e Sistema ---
.idea/
*.iml
*.iws
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# --- Gradle e Build ---
.gradle/
build/
*/build/
*/*/build/
local.properties
.navigation/

# --- Segredos e Credenciais (IMPORTANTE) ---
google-services.json
*.jks
*.keystore

# --- Arquivos do Sistema e Logs ---
*.log
*.swp
*~
.temp
.tmp

# --- Testes e Relatórios ---
/testResults/
/lint/

# --- Android Específico ---
*.apk
*.ap_
*.dex